.chat-side
  .chat-user.clearfix
    %h5 福井洸希
    .chat-user__actions
      = link_to '#', class: 'chat-user__action' do
        %i.fa.fa-pencil-square-o
      = link_to '#', class: 'chat-user__action' do
        %i.fa.fa-cog
  = render '/layouts/sidebar/group'
